@font-face {
    font-family: 'fonts';
    src: url(
        https://fonts.googleapis.com/css?family=Covered+By+Your+Grace
    );
}


/*.div {
    display: inline-block;
    line-height: 1;
    padding: 20px;
    font-size: 40px;
}
  
.span {
    display: block;
    font-size: 20px;
    color: white;
}*/

.body{
    
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    color: white;
    background: #222;
    
}
.clock{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}