@font-face {
    font-family: 'fonts';
    src: url(
        https://fonts.googleapis.com/css?family=Covered+By+Your+Grace
    );
}

.body{
    
    position: absolute;
    top: 10%;
    left: 37%;
    margin-left: -500px;
    padding: 100px;
    font-family: 'Covered By Your Grace', cursive;
    color: white;
    background: #222;
    
}

.div{
    line-height: 1;
    padding: 20px;
    font-size: 40px;
    
}